{% extends 'main/teacher_dash.html' %}
{% load crispy_forms_tags %}


{% block student-creation-form %}
<section id="meeting-creation">
    <form action="{% url 'crt_meeting_pg' %}" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'dashboard_pg' %}" class="btn btn-danger">Cancel</a>
    </form>
</section>

{% endblock student-creation-form %}

{% block add-meeting %}


{% endblock add-meeting %}