{% extends 'main/base.html' %}
{% load active_link_tags %}


{% block sub-nav-block %}

<li><a class="sub-nav-links {% if request.path == '/' %} sub-active {% endif %}" href="{% url 'dashboard_pg' %}">Upcoming</a></li>
<li><a class="sub-nav-links {% active_link 'student_today_meets_pg' 'sub-active' %}" href="{% url 'student_today_meets_pg' %}">Today</a></li>
<li><a class="sub-nav-links {% active_link 'student_all_meets_pg' 'sub-active' %}" href="{% url 'student_all_meets_pg' %}">All</a></li>

{% endblock sub-nav-block %}



{% block side-menu-block %}

<a class="side-menu-links {% if request.path == '/student-today-meets/' %}active {% endif %}{% if request.path == '/student-all-meets/' %}active{% endif %}"href="{% url 'dashboard_pg' %}"><i class="fa fa-video-camera"></i><span>Meetings</span></a>

{% endblock side-menu-block %}

{% block meetings %}

{% for meeting in meetings %}

<div class="meeting">
    <h2 class="meeting-topic">{{meeting.topic}}</h2>
        <h5>{{meeting.subject}}</h5>
        <h5>Time: {{meeting.time}}</h5>
        <h5>link: {{meeting.link}}</h5>
        <h5>Status: {{meeting.status}}</h5>
    {% if meeting.status == "Incomplete" %}    
    <form action="{% url 'mark_attendance_pg' meeting.id %}"method="POST"class="attendance-form">
        {% csrf_token %}
        <input class="attendance-radio-button" name="attendance" id="btn-1"type="radio" value="P">
        <label class="p-label" for="btn-1">P</label>
        <button type ="submit"><i class="fa fa-check"></i></button>
    </form>
    {% endif %}
</div>

{% endfor %}

{% endblock meetings %}