{% extends 'main/base.html' %}
{% load active_link_tags %}

{% load static %}

<link rel="stylesheet" href="{% static 'main/css/teacher_dash.css' %}">


{% block sub-nav-block %}



{% endblock sub-nav-block %}


{% block side-menu-block %}


<a class="side-menu-links {% if request.path == '/my-today-meetings' %}active{% endif %}{% if request.path == '/my-all-meetings' %}active{% endif %}" href="{% url 'dashboard_pg' %}"><i class="fa fa-video-camera"></i><span>My Meetings</span></a>
<a class="side-menu-links {% if request.path == '/today/8/' %} active {% endif %} {% if request.path == '/all/8/' %}active{% endif %}{% if request.path == '/students/8/' %}active{% endif %}" href="{% url 'list_meetings_pg' 8 %}"><i> 8</i><span>8th</span></a>
<a class="side-menu-links {% if request.path == '/today/9/' %} active {% endif %} {% if request.path == '/all/9/' %}active{% endif %}{% if request.path == '/students/9/' %}active{% endif %}" href="{% url 'list_meetings_pg' 9 %}"><i> 9</i><span>9th</span></a>
<a class="side-menu-links {% if request.path == '/today/10/' %} active {% endif %} {% if request.path == '/all/10/' %}active{% endif %}{% if request.path == '/students/10/' %}active{% endif %}" href="{% url 'list_meetings_pg' 10 %}"><i>10</i><span>10th</span></a>
<a class="side-menu-links {% if request.path == '/forum/' %} active {% endif %} {% if request.path == '/forum/' %}active{% endif %}{% if request.path == '/forum/' %}active{% endif %}" href="{% url 'forum_default_pg' %}"><i class="fa fa-quora"></i><span>Questions</span></a>


{% endblock side-menu-block %}

{% block meetings %}


{% endblock meetings %}


{% block add-meeting %}

<div class="add-meeting">
    <a href="{% url 'crt_meeting_pg' %}">
        <i class="fa fa-plus"></i>
        <span>Add Meeting</span>
    </a>
</div>

{% endblock add-meeting %}

{% block student-info %}



{% endblock student-info %}