{% extends 'main/teacher_dash.html' %}

{% block sub-nav-block %}

<li><a href="{% url 'list_meetings_pg' std %}">Upcoming</a></li>
<li><a href="{% url 'meetings_today' std %}">Today</a></li>
<li><a href="{% url 'meetings_all' std %}">All</a></li>
<li><a class="sub-active" href="{% url 'stu_all' std %}">Students</a></li>

{% endblock sub-nav-block %}



{% block student-info %}

{% if student %}

<section id="student-info">
    <div class="row">
        <div class="col-md" style="margin-bottom: 20px;">
            <div class="card card-body">
                <h5>Student Info</h5>
                <hr>
                <p>Name: {{student.user.first_name}} {{student.fathers_name}} {{student.user.last_name}}</p>
                <p>Email: {{student.user.email}}</p>
                <p>Std: {{student.std}}</p>
                <p>Div: {{student.div}}</p>
                <p>Roll no: {{student.rollno}}</p>
            </div>
        </div>
        <div class="col-md">
            <div class="card card-body">
                <h5>Meetings info</h5>
                <hr>
                <p>Total Meetings attended: </p>
                
            </div>
        </div>
    </div>
</section>
<section id="student-meetings">
    <h5>Meetings attended: </h5>
    <table class="table table-sm">
        <tr>
            <th>Topic</th>
            <th>Subject</th>
            <th>Date</th>
            <th></th>
        </tr>
        <tr>
            <td>Python</td>
            <td>Computer</td>
            <td>12/3/20</td>
            <td><a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> <span>View</span></a></td>
        </tr>
    </table>
</section>

{% else %}

<section id="student-info">
    <div class="row">
        <div class="col-md" style="margin-bottom: 20px;">
            <div class="card card-body">
                <h5>Meetings Information</h5>
                <hr>
                <p>Topic: {{meeting.topic}}</p>
                <p>subject: {{meeting.subject}}</p>
                <p>class: {{meeting.std}}</p>
                <p>Date: {{meeting.date}}</p>
                <p>Time: {{meeting.time}}</p>
            </div>
        </div>
        <div class="col-md">
            <div class="card card-body">
                <h5>Meeting participents</h5>
                <hr>
                <p>Total participents: </p>   
            </div>
        </div>
    </div>
</section>
<section id="student-meetings">
    <h5>Participents from DIV A: </h5>
    <table class="table table-sm">
        <tr>
            <th>Rollno</th>
            <th>Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
        <tr>
            <td>22</td>
            <td>Nishant</td>
            <td>Pacharne</td>
            <td><a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> <span>View</span></a></td>
        </tr>
    </table>
</section>
<br>
<section id="student-meetings">
    <h5>Participents from DIV B: </h5>
    <table class="table table-sm">
        <tr>
            <th>Rollno</th>
            <th>Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
        <tr>
            <td>22</td>
            <td>Nishant</td>
            <td>Pacharne</td>
            <td><a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> <span>View</span></a></td>
        </tr>
    </table>
</section>


{% endif %}


{% endblock student-info %}

{% block add-meeting %}


{% endblock add-meeting %}